body{
    background-color: #333;
}

header{
    background-color: rgb(199, 81, 81);
    box-shadow: 0px 0px 0px 2px white;
}

header > h1{
    left: 0;
    right: 0;
    text-align: center;
    font: 900 bolder italic;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    font-size: 35px;
    color: aliceblue;
}

.MainUL{
    margin-top: 25px;
    left: 0;
    right: 0;
    padding: 25px;
    text-align:center;
}

.MainUL > li{
    display: inline;
    margin: 7.5px;
    border: solid 1px white;
    border-radius: 45px;
    padding: 10px;
}

.MainUL > li > a{
    color: rgb(199, 81, 81);
    font: 900 bolder italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

