body{
    background-color: #333;
}

header{
    background-color: rgb(199, 81, 81);
    box-shadow: 0px 0px 0px 2px white;
}

header > h1{
    text-align: center;
    font: 900 bolder italic;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    font-size: 35px;
    color: aliceblue;
}

.MainUL{
    margin-top: 25px;
    padding: 25px;
    text-align:center;
}

.MainUL > li{
    display: inline;
    margin: 7.5px;
    border: solid 1px white;
    border-radius: 45px;
    padding: 10px;
}

.MainUL > li > a{
    color: rgb(199, 81, 81);
    font: 900 bolder italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: none;
}

main{
    margin-top: 25px;
}

main > .top-div{
    margin: 0 auto;
    border: 1px dotted rgb(199, 81, 81);
    width: 75%;
    display: block;
}
main > .top-div > p{
    padding-top:15px;
    color: aliceblue;
    text-align: center;
    font: 700 bolder italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-shadow: 1px 1px 1px black;
}

.Button-show-hide{
    background-color: transparent;
    border: solid 2px rgb(199, 81, 81);
    color: aliceblue;
    font: 900 bolder italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius: 25px;
    padding: 7.5px 5px 7.5px 5px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    display: block;
    outline: none;
}

.Button-show-hide:hover{
    color: rgb(199, 81, 81);
    border: solid 2px aliceblue;
}

.Button-show-hide:focus,
.Button-show-hide:active {
  background-color: black;
  transition: none;
}

